.wrapper {
    width: 1100px;
    margin-left: 250px;
   
   
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.left {
    width: 1200px;
    margin-right: 20px;
    padding: 20px;
   
    
    
}
.right {
    width: 2000px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 94%;
   
}
footer {
    padding: 30px 0;
    
    text-align: center;
}
.block {
    
    background-color: rgb(255, 166, 0);
}
.sitename {
    margin-bottom: 10px;
    font: 20px Arial;
}
nav {
    display: flex;
    width: 1100px;
   
}
nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font: 15px Arial;
}
nav a:hover, nav a:active {
    color:black;
    text-decoration: underline;
}
main h1 {
font: 25px "Times New Roman";
font-weight: bold;
}
main p {
margin: 10px 0;
text-align: justify;
font: 15px Arial;
}
body {
    width: 90%;
    display: flex;
}
.img1 {
    width: 600px;
}
aside h1 {
    font-size: 25px;
    display: flex;
}
.hhh {
    background-color: rgb(255, 195, 85);
}
table {
    border-spacing: 0px;
    width: 600px;
    border-collapse: collapse;
    text-align: center;

}
td, th {
    padding: 3px;
    border: 2px solid black;
}
footer {
    background-color: rgb(255, 166, 0);
    color:white;
}